<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{#user.about}}{{firstName}} {{lastName}}{{/user.about}} - Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <style>
            {{{css}}}
    </style>

</head>

<body>
<section class="container">

    <!-- Header -->
    {{#user.program}}
        <header class="row">
            <div class="col-sm-12">
                <!--inline h1 & h2-->
                <h1>{{name}}</h1>
                <h2> - </h2>
                <h2>{{term}}</h2>
            </div>
        </header>
    {{/user.program}}

    <!-- ABOUT -->
    {{#user.about}}
        <article class="row">
            <header class="col-sm-2">
                <h3>Applicant Name</h3>
            </header>
            <div class="col-sm-10">
                <div class="col-sm-12">
                    {{#if lastName}}
                        <div class="col-sm-4">
                            <p>{{lastName}}</p>
                            <p class="title-line">LAST(FAMILY) NAME</p>
                        </div>
                    {{/if}}
                    {{#if firstName}}
                        <div class="col-sm-3">
                            <p>{{firstName}}</p>
                            <p class="title-line">FIRST (GIVEN) NAME</p>
                        </div>
                    {{/if}}
                    {{#if middleName}}
                        <div class="col-sm-2">
                            <p>{{middleName}}</p>
                            <p class="title-line">MIDDLE NAME</p>
                        </div>
                    {{/if}}
                    {{#if preferredName}}
                        <div class="col-sm-3">
                            <p>{{preferredName}}</p>
                            <p class="title-line">PREFERRED FIRST NAME</p>
                        </div>
                    {{/if}}
                </div>
                {{#if previousName}}
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <p>{{previousName}}</p>
                            <p class="title-line">PREVIOUS NAME</p>
                        </div>
                    </div>
                {{/if}}
            </div>
        </article>
    {{/user.about}}

    <!-- CONFIDENTIAL -->
    {{#user.confidential}}
        <article class="row">
            <header class="col-sm-2">
                <h3>Confidential Information</h3>
            </header>
            <div class="col-sm-10 ">
                <div class="col-sm-12 ">
                    <div class="col-sm-5">
                        <P class="title-inline">Ethnicity: Hispanic or Latino?</P>
                        {{#if hispanic}}
                            <p class="answer-inline">Yes</p>
                        {{else}}
                            <p class="answer-inline">No</p>
                        {{/if}}
                    </div>
                    <div class="col-sm-5">
                        <P class="title-inline">Gender?</P>
                        <p class="answer-inline">{{gender}}</p>
                    </div>
                </div>
                <div class="col-sm-12 ">
                    <div class="col-sm-5">
                        <P class="title-inline">U.S.millitary veteran?</P>
                        {{#if military}}
                            <p class="answer-inline">Yes</p>
                        {{else}}
                            <p class="answer-inline">No</p>
                        {{/if}}
                    </div>
                    <div class="col-sm-4">
                        <P class="title-inline">Post 9/11 GI Bill?</P>
                        {{#if giBill}}
                            <p class="answer-inline">Yes</p>
                        {{else}}
                            <p class="answer-inline">No</p>
                        {{/if}}
                    </div>
                    <div class="col-sm-3">
                        {{#if giBill}}
                            <P class="title-inline">% Vested</P>
                            <p class="answer-inline">{{vested}}</p>
                        {{/if}}
                    </div>
                </div>
                <div class="col-sm-12 ">
                    <div class="col-sm-9">
                        <P class="title-inline">International student (non-resident alien)?</P>
                        {{#if internationalStudent}}
                            <p class="answer-inline">Yes</p>
                        {{else}}
                            <p class="answer-inline">No</p>
                        {{/if}}
                    </div>
                    <div class="col-sm-3">
                        <P class="title-inline">Race?</P>
                        {{#each raceEthnicity}}
                            <p class="answer-inline">{{this}}</p>
                        {{/each}}
                    </div>
                </div>
            </div>
        </article>
    {{/user.confidential}}

    <!-- Enterprise & Specialization Selection(s) -->

    {{#user.additionalInfo}}
        <article class="row">
            <header class="col-sm-2">
                <h3>Enterprise & Specialization Selection(s)</h3>
            </header>
            <div class="col-sm-10 ">
                {{#if enterprises.options.length}}
                    <div class="col-sm-12 ">
                        {{#each enterprises.options}}
                            {{#if isSelected}}
                                <div class="col-sm-6">
                                    <p>{{name}}</p>
                                    <p class="title-line">ENTERPRISE SELECTION</p>
                                </div>
                            {{/if}}
                        {{/each}}
                    </div>
                {{/if}}
                {{#if concentrations.options.length}}
                    <div class="col-sm-12 ">
                        {{#each concentrations.options}}
                            {{#if isSelected}}
                                <div class="col-sm-6">
                                    <p>{{name}}</p>
                                    <p class="title-line">SPECIALIZATION</p>
                                </div>
                            {{/if}}
                        {{/each}}
                    </div>
                {{/if}}
            </div>
        </article>
    {{/user.additionalInfo}}

    <!-- Academic Background -->
    {{#user.academic}}
        <article class="row">
            <header class="col-sm-2">
                <h3>Academic Background</h3>
            </header>
            <div class="col-sm-10 ">
                <h5>Secondary school (high school)</h5>
                <div class="col-sm-12 ">
                    <div class="col-sm-9">
                        <p>{{secondary.schoolName}} - {{secondary.location}}</p>
                        <p class="title-line">NAME AND LOCATION</p>
                    </div>
                    <div class="col-sm-3">
                        <p>{{secondary.startDate}} - {{secondary.endDate}}</p>
                        <p class="title-line">FROM -- TO</p>
                    </div>
                </div>
                <div class="col-sm-12 ">
                    <div class="col-sm-7">
                        <p>{{secondary.diplomaName}} - {{secondary.diplomaAwardedDate}}</p>
                        <p class="title-line">DIPLOMA OR CERTIFICATE NAME / DATE AWARDED</p>
                    </div>
                </div>

                {{#if universities.length}}
                    {{#each universities}}
                        <div class="col-sm-12 ">
                            <h5>College, university, and/or graduate school</h5>
                        </div>
                        <div class="col-sm-12 ">
                            <div class="col-sm-9">
                                <p>{{schoolName}} - {{location}}</p>
                                <p class="title-line">NAME AND LOCATION</p>
                            </div>
                            <div class="col-sm-3">
                                <p>{{startDate}} - {{endDate}}</p>
                                <p class="title-line">FROM -- TO</p>
                            </div>
                        </div>
                        <div class="col-sm-12 ">
                            <div class="col-sm-9">
                                <p>{{degreeName}} - {{degreeAwardedDate}}</p>
                                <p class="title-line">DEGREE, MAJOR, DATE AWARDED</p>
                            </div>
                            {{#if gpa}}
                                <div class="col-sm-3">
                                    <p>{{gpa}}</p>
                                    <p class="title-line">GPA</p>
                                </div>
                            {{/if}}
                        </div>

                    {{/each}}
                {{/if}}
            </div>
        </article>
    {{/user.academic}}

    <!-- TEST RESULTS -->
    {{#user.tests}}
        <article class="row">
            <header class="col-sm-2">
                <h3>Test Results</h3>
            </header>
            <div class="col-sm-10 ">
                <div class="col-sm-12">
                    <h5>Academic Testing:</h5>
                </div>

                <!--GMAT-->
                {{#if gmat}}
                    <div class="col-sm-12">
                        <div class="col-sm-1">
                            <p class="title">GMAT</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{gmat.scoreDate}}</p>
                            <p class="title-line">DATE</p>
                        </div>
                        <div class="col-sm-1">
                            <p>{{gmat.verbalScore}}</p>
                            <p class="title-line">VERBAL</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{gmat.quantScore}}</p>
                            <p class="title-line">QUANTITATIVE</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{gmat.totalScore}}</p>
                            <p class="title-line">TOTAL</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{gmat.analyticalWritingScore}}</p>
                            <p class="title-line">AWA</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{gmat.reasoningScore}}</p>
                            <p class="title-line">IR</p>
                        </div>
                    </div>
                {{/if}}

                <!--GRE-->
                {{#if gre}}
                    <div class="col-sm-12">
                        <div class="col-sm-1">
                            <p class="title">GRE</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{gre.scoreDate}}</p>
                            <p class="title-line">DATE</p>
                        </div>
                        <div class="col-sm-1">
                            <p>{{gre.verbalScore}}</p>
                            <p class="title-line">VERBAL</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{gre.quantScore}}</p>
                            <p class="title-line">QUANTITATIVE</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{gre.totalScore}}</p>
                            <p class="title-line">TOTAL</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{gre.analyticalWritingScore}}</p>
                            <p class="title-line">AWA</p>
                        </div>
                        {{#if gmatEquivTotal}}
                            <div class="col-sm-2">
                                <p>{{gmatEquivTotal}}</p>
                                <p class="title-line">GMAT Equiv</p>
                            </div>
                        {{/if}}
                    </div>
                {{/if}}

                <!--OTHER-->
                <!--<div class="col-sm-12 attention">-->
                <!--<div class="col-sm-1">-->
                <!--<p class="title">Other</p>-->
                <!--</div>-->
                <!--<div class="col-sm-3">-->
                <!--<p>1010</p>-->
                <!--<p class="title-line"></p>-->
                <!--</div>-->
                <!--</div>-->


                <div class="col-sm-12">
                    <h5 class="top">English Language Testing (if applicable):</h5>
                </div>

                <!--IBT/PBT/IELTS/PTE DATE-->

                <div class="col-sm-12">
                    {{#if toeflibt}}
                        <div class="col-sm-3">
                            <p>{{toeflibt.testDate}}</p>
                            <p class="title-line">IBT TEST DATE</p>
                        </div>
                    {{/if}}
                    {{#if toeflpbt}}
                        <div class="col-sm-3">
                            <p>{{toeflpbt.testDate}}</p>
                            <p class="title-line">PBT TEST DATE</p>
                        </div>
                    {{/if}}
                    {{#if ielts}}
                        <div class="col-sm-3">
                            <p>{{ielts.testDate}}</p>
                            <p class="title-line">IELTS TEST DATE</p>
                        </div>
                    {{/if}}
                    {{#if pte}}
                        <div class="col-sm-3">
                            <p>{{pte.testDate}}</p>
                            <p class="title-line">PTE TEST DATE</p>
                        </div>
                    {{/if}}
                </div>

                <!--IBT-->
                {{#if toeflibt}}
                    <div class="col-sm-12 top">
                        <div class="col-sm-2">
                            <p class="title">IBT TOEFL</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{toeflibt.section1}}</p>
                            <p class="title-line">READING</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{toeflibt.section2}}</p>
                            <p class="title-line">LISTENING</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{toeflibt.section3}}</p>
                            <p class="title-line">SPEAKING</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{toeflibt.section4}}</p>
                            <p class="title-line">WRITING</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{toeflibt.section5}}</p>
                            <p class="title-line">TOTAL SCORE</p>
                        </div>
                    </div>
                {{/if}}

                <!--PBT-->
                {{#if toeflpbt}}
                    <div class="col-sm-12 top">
                        <div class="col-sm-2">
                            <p class="title">PBT TOEFL</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{toeflpbt.section1}}</p>
                            <p class="title-line">LISTENING COMP</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{toeflpbt.section2}}</p>
                            <p class="title-line">STRUCTURE/WRITE EXP</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{toeflpbt.section3}}</p>
                            <p class="title-line">READING COMP</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{toeflpbt.section4}}</p>
                            <p class="title-line">TWE</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{toeflpbt.section5}}</p>
                            <p class="title-line">TOTAL SCORE</p>
                        </div>
                    </div>
                {{/if}}


                {{#if ielts}}
                    <!--IELTS-->
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                            <p class="title">IELTS</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{ielts.listeningScore}}</p>
                            <p class="title-line">LISTENING COMP</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{ielts.readingScore}}</p>
                            <p class="title-line">READING</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{ielts.writingScore}}</p>
                            <p class="title-line">WRITING</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{ielts.speakingScore}}</p>
                            <p class="title-line">SPEAKING</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{ielts.totalScore}}</p>
                            <p class="title-line">OVERALL BAND SCORE</p>
                        </div>
                    </div>
                {{/if}}

                <!--PTE-->
                {{#if pte}}
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                            <p class="title">PTE</p>
                        </div>
                        <div class="col-sm-2">
                            <p>{{pte.overallScore}}</p>
                            <p class="title-line">OVERALL SCORE</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                            <p class="small">COMMUNICATIVE SKILLS</p>
                        </div>
                        <div class="col-sm-2">
                            <p>&nbsp;{{pte.listeningScore}}</p>
                            <p class="title-line">LISTENING</p>
                        </div>
                        <div class="col-sm-2">
                            <p>&nbsp;{{pte.readingScore}}</p>
                            <p class="title-line">READING</p>
                        </div>
                        <div class="col-sm-2">
                            <p>&nbsp;{{pte.speakingScore}}</p>
                            <p class="title-line">SPEAKING</p>
                        </div>
                        <div class="col-sm-2">
                            <p>&nbsp;{{pte.writingScore}}</p>
                            <p class="title-line">WRITING</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                            <p class="small">ENABLING SKILLS</p>
                        </div>
                        <div class="col-sm-1">
                            <p>&nbsp;{{pte.grammarScore}}</p>
                            <p class="title-line">GRAMMAR</p>
                        </div>
                        <div class="col-sm-2">
                            <p>&nbsp;{{pte.oralFluencyScore}}</p>
                            <p class="title-line">ORAL FLUENCY</p>
                        </div>
                        <div class="col-sm-2">
                            <p>&nbsp;{{pte.pronunciationScore}}</p>
                            <p class="title-line">PRONUNCIATION</p>
                        </div>
                        <div class="col-sm-2">
                            <p>&nbsp;{{pte.writtenDiscourseScore}}</p>
                            <p class="title-line">WRITING DISCOURSE</p>
                        </div>
                        <div class="col-sm-2">
                            <p>&nbsp;{{pte.speakingScore}}</p>
                            <p class="title-line">SPELLING</p>
                        </div>
                        <div class="col-sm-1">
                            <p>&nbsp;{{pte.vocabularyScore}}</p>
                            <p class="title-line">VOCABULARY</p>
                        </div>
                    </div>
                {{/if}}

            </div>
        </article>
    {{/user.tests}}


    <!-- EMPLOYMENT -->
    {{#user.employment}}
    <article class="row">
        <header class="col-sm-2">
            <h3>Employment</h3>
        </header>
    <div class="col-sm-10 ">
        <div class="col-sm-12 ">
            {{#if recentEmployment.isCurrent}}
                <div class="col-sm-2">
                    <p>X</p>
                    <p class="title-line">Current Position</p>
                </div>
            {{else}}
                <div class="col-sm-2">
                    <p>X</p>
                    <p class="title-line">Last Position</p>
                </div>
            {{/if}}
            <div class="col-sm-3">
                <p>&nbsp;{{workExperience.fullTimeYears}}</p>
                <p class="title-line">Year of Full-Time Experience</p>
            </div>
        </div>
        {{#if recentEmployment}}
            <div class="col-sm-12 ">
                <div class="col-sm-6">
                    <p>&nbsp;{{recentEmployment.employer.name}}</p>
                    <p class="title-line">COMPANY</p>
                </div>
                <div class="col-sm-3">
                    <p>&nbsp;{{recentEmployment.startDate}}</p>
                    <p class="title-line">FROM (MONTH/YEAR)</p>
                </div>
                <div class="col-sm-3">
                    <p>&nbsp;{{recentEmployment.endDate}}</p>
                    <p class="title-line">TO (MONTH/YEAR)</p>
                </div>
            </div>
            <div class="col-sm-12 ">
                <div class="col-sm-6">
                    <p>&nbsp;{{recentEmployment.jobTitle}}</p>
                    <p class="title-line">JOB TITLE</p>
                </div>
                <div class="col-sm-3">
                    <p>&nbsp;{{recentEmployment.yearsInPosition}}</p>
                    <p class="title-line">YEARS IN THIS POSITION</p>
                </div>
                <div class="col-sm-3">
                    <p>&nbsp;{{recentEmployment.hoursPerWeek}}</p>
                    <p class="title-line">HOURS PER WEEK</p>
                </div>
            </div>
            <div class="col-sm-12 ">
                <div class="col-sm-6">
                    <P class="title-inline">Was this position full-time?</P>
                    {{#if recentEmployment.isFullTime}}
                        <p class="answer-inline">Yes</p>
                    {{else}}
                        <p class="answer-inline">No</p>
                    {{/if}}
                </div>
                <div class="col-sm-6">
                    <P class="title-inline">Annual ending salary in U.S. $</P>
                    <p class="answer-inline">{{recentEmployment.salary}}</p>
                </div>
            </div>
        {{/if}}
    {{/user.employment}}

    {{#user.recentEmploymentDetail}}
        <div class="col-sm-12">
            <h5>Company Info:</h5>
        </div>
        <div class="col-sm-12 ">
            {{#if recentEmploymentDetail.industryName}}
                <div class="col-sm-6">
                    <p>{{recentEmploymentDetail.industryName}}</p>
                    <p class="title-line">INDUSTRY</p>
                </div>
            {{/if}}
            {{#if recentEmploymentDetail.jobFucntion}}
                <div class="col-sm-6">
                    <p>{{recentEmploymentDetail.jobFucntion}}</p>
                    <p class="title-line">JOB FUNCTION</p>
                </div>
            {{/if}}
        </div>
        <div class="col-sm-12 ">
            {{#if recentEmploymentDetail.companySize}}
                <div class="col-sm-4">
                    <p>{{recentEmploymentDetail.companySize}}</p>
                    <p class="title-line">COMPANY SIZE</p>
                </div>
            {{/if}}
            {{#if recentEmploymentDetail.annualSale}}
                <div class="col-sm-4">
                    <p>{{recentEmploymentDetail.annualSale}}</p>
                    <p class="title-line">ANNUAL SALES</p>
                </div>
            {{/if}}
            {{#if recentEmploymentDetail.ownership}}
                <div class="col-sm-4">
                    <p>{{recentEmploymentDetail.ownership}}</p>
                    <p class="title-line">OWNERSHIP TYPE</p>
                </div>
            {{/if}}
        </div>
        {{#if recentEmploymentDetail.natureOfActivity}}
            <div class="col-sm-12 ">
                <div class="col-sm-12">
                    <p>{{recentEmploymentDetail.natureOfActivity}}</p>
                    <p class="title-line">NATURE OF EMPLOYER'S ACTIVITIES</p>
                </div>
            </div>
        {{/if}}
    {{/user.recentEmploymentDetail}}
</div>
</article>

    <!-- Dual Degree -->
    {{#user.academic.dualDegree}}
        <article class="row">
            <header class="col-sm-2">
                <h3>Dual Degree</h3>
            </header>
            <div class="col-sm-10">
                <div class="col-sm-12 ">
                    <div class="col-sm-10">
                        <P class="title-inline">Do you intend to pursue a dual degree?</P>
                        {{#if isDualDegree}}
                            <p class="answer-inline">Yes</p>
                        {{else}}
                            <p class="answer-inline">No</p>
                        {{/if}}
                    </div>
                </div>
                <div class="col-sm-12 ">
                    <div class="col-sm-10">
                        <P class="title-inline">If yes, which program?</P>
                        {{#if isDualDegree}}
                            <p class="answer-inline">{{degreeProgram}}</p>
                        {{/if}}
                    </div>
                </div>
                <div class="col-sm-12 ">
                    <div class="col-sm-10">
                        <P class="title-inline">When do you plan to begin the MBA program?</P>
                        {{#if degreeOptDate}}
                            <p class="answer-inline">{{degreeOptDate}}</p>
                        {{/if}}
                    </div>
                </div>
                <div class="col-sm-12 ">
                    <div class="col-sm-12">
                        <P class="paragraph">I understand the parameters of the dual degree program for which I am applying, and if admitted I agree to complete
                            the degree requirements as stated. I understand that I must be fully committed to the MBA coursework and other MBA
                            program curricular and co-curricular activities during my first year of MBA study, and that I am permitted to register
                            for only MBA coursework during that first year. I agree that I will not register for any coursework in another degree
                            program, nor will I participate in any other curricular or co-curricular activities that will interfere with my commitment
                            to the MBA program, during that time.</P>
                    </div>
                </div>
                <div class="col-sm-12 ">
                    <div class="col-sm-6">
                        {{#if isAgreementSigned}}
                            <p>Yes</p>
                        {{else}}
                            <p>No</p>
                        {{/if}}
                        <P class="title-line">I agree to the above statement</P>
                    </div>
                </div>
            </div>
        </article>
    {{/user.academic.dualDegree}}

    <!-- PRESENT ADDRESS -->
    {{#user.about.preferredAddress}}
        <article class="row">
            <header class="col-sm-2">
                <h3>Present Address</h3>
            </header>
            <div class="col-sm-10">
                <div class="col-sm-12 ">
                    <p>&nbsp;{{address1}}</p>
                    <p class="title-line">PRESENT STREET ADDRESS</p>
                </div>
                {{#if address2}}
                    <div class="col-sm-12 ">
                        <p>{{address2}}</p>
                        <p class="title-line">STREET LINE 2</p>
                    </div>
                {{/if}}
                {{#if address3}}
                    <div class="col-sm-12 ">
                        <p>{{address3}}</p>
                        <p class="title-line">STREET LINE 3</p>
                    </div>
                {{/if}}
                <div class="col-sm-12 ">
                    <div class="col-sm-4">
                        <p>&nbsp;{{city}}</p>
                        <p class="title-line">CITY</p>
                    </div>
                    <div class="col-sm-2">
                        <p>&nbsp;{{stateProv}}</p>
                        <p class="title-line">STATE</p>
                    </div>
                    <div class="col-sm-2">
                        <p>&nbsp;{{postalCode}}</p>
                        <p class="title-line">ZIP</p>
                    </div>
                    <div class="col-sm-4">
                        <p>&nbsp;{{country}}</p>
                        <p class="title-line">COUNTRY</p>
                    </div>
                </div>
                <div class="col-sm-12 ">
                    <div class="col-sm-6">
                        <p>&nbsp;{{startDate}}</p>
                        <p class="title-line">VALID FROM (DATE)</p>
                    </div>
                    {{#if endDate}}
                        <div class="col-sm-6">
                            <p>&nbsp;{{endDate}}</p>
                            <p class="title-line">VALID TO (DATE)</p>
                        </div>
                    {{/if}}
                </div>

            </div>
        </article>
    {{/user.about.preferredAddress}}

    <!-- Phone Numbers/ E-mail/ Etc -->
    {{#user.contactInfo}}
        <article class="row">
            <header class="col-sm-2">
                <h3>Phone Numbers/ E-mail/ Etc.</h3>
            </header>
            <div class="col-sm-10">
                <div class="col-sm-12 ">
                    <div class="col-sm-6">
                        {{#if preferredEmail}}
                            <P>&nbsp;{{preferredEmail}}</P>
                            <p class="title-line">EMAIL</p>
                        {{/if}}
                    </div>
                    <div class="col-sm-6">
                        {{#if skypeId}}
                            <P>&nbsp;{{skypeId}}</P>
                            <p class="title-line">SKYPE ID</p>
                        {{/if}}
                    </div>
                </div>
                <div class="col-sm-12 ">
                    <div class="col-sm-6">
                        {{#if preferredPhone}}
                            <P>&nbsp;{{preferredPhone}}</P>
                            <p class="title-line">PHONE</p>
                        {{/if}}
                    </div>
                    <div class="col-sm-6">
                        {{#if twitterHandle}}
                            <P>&nbsp;{{twitterHandle}}</P>
                            <p class="title-line">TWITTER</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </article>
    {{/user.contactInfo}}

    <!-- Residency -->
    {{#user.residency}}
        <article class="row">
            <header class="col-sm-2">
                <h3>Residency</h3>
            </header>
            <div class="col-sm-10 ">
                <div class="col-sm-12 ">
                    {{#if stateLegalRes}}
                        <div class="col-sm-6">
                            <P>{{stateLegalRes}}</P>
                            <p class="title-line">STATE OF LEGAL RESIDENCE</p>
                        </div>
                    {{/if}}
                    {{#if permResCountry}}
                        <div class="col-sm-6">
                            <p>{{permResCountry}}</p>
                            <p class="title-line">COUNTRY OF PERMANENT RESIDENCE</p>
                        </div>
                    {{/if}}
                </div>
                <div class="col-sm-12 ">
                    {{#if birthCountry}}
                        <div class="col-sm-6">
                            <p>{{birthCountry}}</p>
                            <p class="title-line">COUNTRY OF BIRTH</p>
                        </div>
                    {{/if}}
                    {{#if permResCountry}}
                        <div class="col-sm-6">
                            <p>{{permResCountry}}</p>
                            <p class="title-line">COUNTRY OF CITIZENSHIP</p>
                        </div>
                    {{/if}}
                </div>

                {{#if internationalStudent}}
                    {{#if nonUSCitizenVisa.visaTypeId}}
                        <div class="col-sm-12 ">
                            <div class="col-sm-3">
                                <p class="title">Visa type</p>
                            </div>
                            <div class="col-sm-9">
                                <p>{{nonUSCitizenVisa.visaTypeId}}</p>
                                <p class="title-line"></p>
                            </div>
                        </div>
                    {{/if}}
                    {{#if nonUSCitizenVisa.visaInstitution}}
                        <div class="col-sm-12 ">
                            <div class="col-sm-3">
                                <p class="title">F-1 School</p>
                            </div>
                            <div class="col-sm-9">
                                <p>{{nonUSCitizenVisa.visaInstitution}}</p>
                                <p class="title-line"></p>
                            </div>
                        </div>
                    {{/if}}
                    <div class="col-sm-12 bottom">
                        <div class="col-sm-3">
                            <p class="title">Attended that institution?</p>
                        </div>
                        <div class="col-sm-9">
                            {{#if nonUSCitizenVisa.visaInstAttended}}
                                <p>Yes</p>
                                <p class="title-line"></p>
                            {{else}}
                                <p>No</p>
                                <p class="title-line"></p>
                            {{/if}}
                        </div>
                    </div>
                {{/if}}
            </div>
        </article>
    {{/user.residency}}


    <!-- Confidential -->
    {{#user.confidential}}
        <article class="row">
            <header class="col-sm-2">
                <h3>Confidential Information</h3>
            </header>
            <div class="col-sm-10 ">
                <div class="col-sm-12 ">
                    {{#if umnId}}
                        <div class="col-sm-4">
                            <P>{{umnId}}</P>
                            <p class="title-line">U OF M ID#</p>
                        </div>
                    {{/if}}
                    {{#if ssn}}
                        <div class="col-sm-4">
                            <p>{{ssn}}</p>
                            <p class="title-line">U.S. SOCIAL SECURITY NUMBER</p>
                        </div>
                    {{/if}}
                    {{#if birthday}}
                        <div class="col-sm-4">
                            <p>{{birthday}}</p>
                            <p class="title-line">BIRTHDAY (MONTH/DAY/YEAR)</p>
                        </div>
                    {{/if}}
                </div>
                <div class="col-sm-12 ">
                    <div class="col-sm-6">
                        <p class="title">First generation graduate/professional student?</p>
                    </div>
                    <div class="col-sm-6">
                        {{#if firstGeneration}}
                            <p class="answer-inline">Yes</p>
                            <p class="title-line"></p>
                        {{else}}
                            <p class="answer-inline">No</p>
                            <p class="title-line"></p>
                        {{/if}}
                    </div>
                </div>
                <div class="col-sm-12 ">
                    <div class="col-sm-6">
                        <p class="title">Highest level of education obtained by parent 1:</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="answer-inline">{{highestLevel1}}</p>
                        <p class="title-line"></p>
                    </div>
                </div>
                <div class="col-sm-12 bottom">
                    <div class="col-sm-6">
                        <p class="title">Highest level of education obtained by parent 2:</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="answer-inline">{{highestLevel2}}</p>
                        <p class="title-line"></p>
                    </div>
                </div>
            </div>
        </article>
    {{/user.confidential}}

    {{#user.employment}}
        <!-- References -->
        {{#if professionalReferences.length}}
            <article class="row">
                <header class="col-sm-2">
                    <h3>References</h3>
                </header>
                <div class="col-sm-10 ">
                    {{#each professionalReferences}}
                        <div class="col-sm-12 ">
                            <div class="col-sm-9">
                                <P>{{name}} </P>
                                <p class="title-line">NAME</p>
                            </div>
                            <div class="col-sm-3">
                                {{#if isDirectSupervisor}}
                                    <p>Yes</p>
                                {{else}}
                                    <p>No</p>
                                {{/if}}
                                <p class="title-line">Current supervisor?</p>
                            </div>
                        </div>
                        <div class="col-sm-12 ">
                            {{#if phoneNumber}}
                                <div class="col-sm-6">
                                    <P>{{phoneNumber}}</P>
                                    <p class="title-line">DAY PHONE NUMBER</p>
                                </div>
                            {{/if}}
                            {{#if email}}
                                <div class="col-sm-6">
                                    <P>{{email}}</P>
                                    <p class="title-line">E-MAIL ADDRESS</p>
                                </div>
                            {{/if}}
                        </div>
                        <div class="col-sm-12 ">
                            {{#if employer}}
                                <div class="col-sm-6">
                                    <P>{{employer}}</P>
                                    <p class="title-line">COMPANY</p>
                                </div>
                            {{/if}}
                            {{#if jobTitle}}
                                <div class="col-sm-6">
                                    <P>{{jobTitle}}</P>
                                    <p class="title-line">TITLE</p>
                                </div>
                            {{/if}}

                        </div>
                        <div class="col-sm-12">
                            <p class="bottom"></p>
                        </div>
                    {{/each}}
                </div>
            </article>
        {{/if}}
    {{/user.employment}}

    <!-- Other Information -->

    <article class="row">
        <header class="col-sm-2">
            <h3>Other Information</h3>
        </header>
        <div class="col-sm-10">
            <div class="col-sm-12 ">
                <p class="paragraph">
                    The {{user.program.name}} Program may request University staff, faculty, alumni, and/or current students to assist you with questions
                    concerning the University and provide you with additional information. This would be done under the direction of the
                    MBA admissions staff. The type of information that would be released includes name, address, phone number, email address,
                    intended field of study, undergraduate institution, and most recent employer. If you prefer NOT to receive this particular
                    service, please select NO here.
                </p>
            </div>
            {{#user.additionalInfo.additionalInfo}}
                <div class="col-sm-12 ">
                    <div class="col-sm-3">
                        {{#if releaseInfo}}
                            <p>Yes</p>
                        {{else}}
                            <p>No</p>
                        {{/if}}
                        <P class="title-line"></P>
                    </div>
                </div>
                <div class="col-sm-12 ">
                    <p class="paragraph">
                        If you are admitted, the Full-Time MBA Program will release the resume submitted with this application to the Graduate Business
                        Career Center for review and coaching prior to your enrollment. You will also have the opportunity to submit an updated
                        resume to the career center before orientation. If you prefer NOT to release your resume for this purpose, please select
                        NO here.
                    </p>
                </div>
                <div class="col-sm-12 ">
                    <div class="col-sm-3">
                        {{#if contactByStudent}}
                            <p>Yes</p>
                        {{else}}
                            <p>No</p>
                        {{/if}}
                        <P class="title-line"></P>
                    </div>
                </div>
            {{/user.additionalInfo.additionalInfo}}

            {{#user.advertisements}}
                <div class="col-sm-12 top">
                    {{#if availableAdvertisements.length}}
                        <div class="col-sm-4">
                            <p class="title">How did you hear about us?</p>
                        </div>
                        <div class="col-sm-6">
                            {{#each availableAdvertisements}}
                                <div class="col-sm-12">
                                    <p>{{name}}</p>
                                    <P class="title-line"></P>
                                </div>
                            {{/each}}
                        </div>
                    {{/if}}
                </div>
            {{/user.advertisements}}
        </div>
    </article>


    <!-- Footer -->
    <footer class="no-print">
        &copy; Carlson School of Management &nbsp;&nbsp;
        <a href="#" onclick="window.print();">Print</a> | <a href="#top">To top</a>

    </footer>
</section>
</body>

</html>