<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{#user}}{{name}}{{/user}}</title>
    <style>
            {{{css}}}
            {{{bootstrap}}}
    </style>
</head>
<body>
    <h1>{{#user}}{{name}}{{/user}} Application</h1>
    Status: {{#user}}{{status}}{{/user}}
</body>
</html>